@page "/"
<!-- we can also import @using Models or @using Gamestore.Frontend.Models -->
@using Models
<PageTitle>Game Catalog</PageTitle>


<table class="table table-striped table-hover table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Game Name</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th class="text-end">Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var game in games)
        {
            <tr> 
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td>@game.ReleaseDate.ToShortDateString()</td>
                <td class="text-end">@game.Price.ToString("C2")</td>
               <td> </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private GameSummary[] games=[
    //cyberpunk 2077
    new(){
        Id=1,
        Name="Cyberpunk 2077",
        Genre="RPG",
        ReleaseDate=new DateOnly(2020,12,10),
        Price=59.99m
    },
    //the witcher 3
    new(){
        Id=2,
        Name="The Witcher 3",
        Genre="RPG",
        ReleaseDate=new DateOnly(2015,5,19),
        Price=29.99m
    },
    //doom eternal
    new(){
        Id=3,
        Name="Doom Eternal",
        Genre="FPS",
        ReleaseDate=new DateOnly(2020,3,20),
        Price=39.99m
    },
    //gta san andreas
    new(){
        Id=4,
        Name="GTA San Andreas",
        Genre="Action",
        ReleaseDate=new DateOnly(2004,6,7),
        Price=9.99m
    },
    //tomb raider aniversary
    new(){
        Id=5,
        Name="Tomb Raider Anniversary",
        Genre="Action",
        ReleaseDate= new DateOnly(2007,6,1),
        Price=19.99m 


        
    }
        //this m after the price is to specify that it is a decimal value
        //if we dont put m it will be considered as double
        //if we put f it will be considered as float
        //if we put l it will be considered as long
        //if we put d it will be considered as double
        //if we put ul it will be considered as ulong\
        // ulong means unsigned long for ex.- 
        //if we put u it will be considered as uint
        //if we put s it will be considered as short
        //if we put us it will be considered as ushort
        //if we put b it will be considered as byte
        //if we put sb it will be considered as sbyte
        //if we put c it will be considered as char
        //if we put i it will be considered as int
    ];
}

